
// Fonts
@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway:300,400,600");

// Variables
@import "variables";

//utility
@import "__utility.scss";

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';
* {
    margin: 0 auto;
}

.wrapper {
    width: 60%;
}

body {
    background-image: url('/img/purple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.5em;
    color: #fff;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

p {
    font-family: "Oswald", sans-serif;
    color: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    font-family: "Oswald", sans-serif;
    color: #fff;
    display: inline;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
    padding: 20px;
    border-radius: 5px;
}

a:hover {
    background: #fff;
    color: #190136;
}

iframe {
    width: 60%;
    display: block;
}

.main-nav {
    align-items: center;
    justify-content: space-between;
    background-color: #190136;
    height: 90px;

}

.mobile-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #190136;
    height: 90px;
}

.mobile-menu {
    display: none;
}

footer {
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: #190136;
}

.mobile-footer {
    display: none;
}

.home-content {
    height: 800px;
    text-align: center;
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 32px;
    }
}

.home-link {
    a {
        background: #0C6324;
        color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    a:hover {
        background: #fff;
        color: #0C6324;
    }
}

.about-content {
    h1 {
        text-align: center;
    }

    p {
        font-size: 1.5em;
    }

    img {
        display: block;
        width: 25%;
    }

}

@media (max-width: 768px) {
    .wrapper {
        width: 85%;
    }

    iframe {
        width: 100%;
        display: block;
    }

    .main-nav {
        display: none;
    }

    .main-footer {
        display: none;
    }

    .mobile-header {
        display: flex;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #190136;
        height: 80px;
    }

    .mobile-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        background-color: #190136;
    }

    .about-content {
        width: 90%;
        img {
            display: block;
            width: 50%;
        }
    }
}

@media (max-width: 440px) {
    .home-content {
        height: 750px;
        h1 {
            font-size: 3em;
        }

        p {
            font-size: 24px;
        }
    }
    .mobile-menu {
        font-size: 12px;
    }

    .mobile-footer {
        li {
            font-size: 1em;
        }
    }

    .about-content {
        width: 100%;
    }
}
