
// Fonts
@import url("https://fonts.googleapis.com/css?family=Oswald|Raleway:300,400,600");

// Variables
@import "variables";

//utility
@import "__utility.scss";

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';
* {
    margin: 0 auto;
}

.wrapper {
    width: 80%;
}

body {
    background-image: url('/img/purple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.5em;
    color: #fff;
}

p {
    font-family: "Oswald", sans-serif;
    color: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    font-family: "Oswald", sans-serif;
    color: #fff;
    display: inline;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
    padding: 20px;
}

a:hover {
    background: #fff;
    color: #200245;
}

iframe {
    width: 100%;
}

.main-nav {
    align-items: center;
    justify-content: space-between;
    background-color: #200245;
    height: 90px;

}

.mobile-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #200245;
    height: 90px;
}

.mobile-menu {
    display: none;
}

footer {
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: #190136;
}

.mobile-footer {
    display: none;
}

.home-content {
    height: 750px;
    text-align: center;
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 32px;
    }
}

.home-link {
    a:hover {
        background: #0C6324;
        color: #fff;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.contact-content {
    background: #0C6324;
    height: 500px;
}

@media (max-width: 768px) {
    .main-nav {
        display: none;
    }

    .main-footer {
        display: none;
    }

    .mobile-header {
        display: flex;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #200245;
        height: 80px;
    }

    .mobile-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        background-color: #190136;
    }
}

@media (max-width: 420px) {
    .home-content {
        h1 {
            font-size: 3em;
        }

        p {
            font-size: 24px;
        }
    }
    .mobile-menu {
        font-size: 12px;
    }

    .mobile-footer {
        li {
            font-size: 1em;
        }
    }
}
